# Godot 4+ specific ignores
.godot/
.import/
.export/
.export_presets.cfg
/android/
.idea
.nomedia

# Godot generated
*.translation

# Mono
.mono/
mono_crash.*.json

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# ENV 
.env

# Nakama
nakama/data/.cookie
backend/.env
nakama/package-lock.json
